.CartBody {
    background-color: rgb(234, 237, 237);
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  .cart {
    background-color: white;
    padding: 10px;
    margin-left: 15px;
    margin-right: 55px;
    flex: 1;
    font-size: 2rem;
  }
  .cart h2{
      border-bottom: 1px solid;
  }
  .subtotal {
    background-color: white;
    padding: 10px;
    margin-right: 15px;
  }
  .CartBody button:focus {
    outline: none;
  }
  .flex-check-p {
    display: flex;
    align-items: center;
  }
  .flex-check-p div{
      margin-left: 5px;
      font-size: 1rem;
  }
  .CartBody span {
    font-weight: bolder;
  }
  .CartBody button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 2px 15px;
    border-radius: 3px;
    width: 100%;
    font-weight: 400;
  }
  